<div class="row container-fluid">
    <div class="col">
        <ul class="nav">
            <li class="nav-item">
                <h6 style="color: black; font-weight: 550; text-decoration: none;" class="nav-link active" aria-current="page">R<span>avi</span> R<span>ahul</span> A - FRONT-END DEVELOPER</h6>
            </li>
            <li class="nav-item px-2 ms-auto">
                <a class="nav-link" target="_blank" href="https://www.facebook.com/ravi.rahul.336">FACEBOOK </a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/ravi-rahul-a-14509226b"> LINKEDIN </a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" target="_blank" href="https://instagram.com/rahul_here_21?igshid=ZDdkNTZiNTM=">INSTAGRAM </a>
            </li>
        </ul>
    </div>
</div>