<!-- <div class="position-relative">

    <div id="bg" class="row">
        <div class="col">

            <div class="row py-5 px-2 sticky-top">
                <div class="col">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid px-4">
                            <a class="navbar-brand" style="font-weight:bold;" href="#">Ravi Rahul</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav  ms-auto">
                                    <li class="nav-item  px-4">
                                        <a class="nav-link" aria-current="page" href="#">HOME</a>
                                    </li>
                                    <li class="nav-item px-4">
                                        <a class="nav-link" href="#intro">ABOUT</a>
                                    </li>
                                    <li class="nav-item px-4">
                                        <a class="nav-link" href="#project">WORKS</a>
                                    </li>
                                    <li class="nav-item px-4">
                                        <a class="nav-link" href="#contact">CONTACT</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2 class="c2">
                        <span class="text-wrapper">
                            <span class="line line1"></span>
                            <span class="letters">EMPOWERING the web with CODE that speaks to USER.</span>
                        </span>
                    </h2>
                </div>
            </div>

            <div class="row media_icon text-center justify-content-center align-items-center p-5">
                <div style="height: 37px;" class="col-1"><a class="nav-link" target="_blank" href="https://www.linkedin.com/in/ravi-rahul-a-14509226b"><i class="fa-brands fa-linkedin"></i></a></div>
                <div style="height: 37px;" class="col-1"><a class="nav-link" target="_blank" href="https://instagram.com/rahul_here_21?igshid=ZDdkNTZiNTM="><i class="fa-brands fa-instagram"></i></a></div>
                <div style="height: 37px;" class="col-1"><a class="nav-link" target="_blank" href="https://www.facebook.com/ravi.rahul.336"><i class="fa-brands fa-facebook"></i></a></div>
            </div>
            <div class="row angledown justify-content-center">
                <div class="col-1 p-2 text-center">
                 <a href="#intro"><i class="fa-solid fa-angles-down"></i></a>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="position-relative position-fixed toggler">

    <div id="bg" class="row">
        <div class="col">

            <div class="row py-3 px-2">
                <div class="col">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid px-4">
                            <a class="navbar-brand" style="font-weight:bold;" href="#">Ravi Rahul</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav  ms-auto">
                                    <li class="nav-item  px-4">
                                        <a href="#" class="nav-link" aria-current="page">HOME</a>
                                    </li>
                                    <li class="nav-item px-4">
                                        <a class="nav-link" href="#about_tag">ABOUT</a>
                                    </li>
                                    <li class="nav-item px-4">
                                        <a class="nav-link" href="#project">WORKS</a>
                                    </li>
                                    <li class="nav-item px-4">
                                        <a class="nav-link" href="#contact">CONTACT</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row effect ui-widget-header ui-corner-all">
                <div class="col">
                    <h2 class="c2">
                        <span class="text-wrapper">
                            <span class="line line1"></span>
                            <span class="letters">EMPOWERING the web with CODE that speaks to USER.</span>
                        </span>
                    </h2>
                </div>
            </div>

            <div class="p-3 effect ui-widget-content ui-corner-all"> <!--for jquery animation-->

                <div class="row media_icon text-center justify-content-center align-items-center p-5">
                    <div style="height: 37px;" class="col-1"><a class="nav-link p-1" target="_blank"
                            href="https://www.linkedin.com/in/ravi-rahul-a-14509226b"><i
                                class="fa-brands fa-linkedin"></i></a></div>
                    <div style="height: 37px;" class="col-1"><a class="nav-link p-1" target="_blank"
                            href="https://instagram.com/rahul_here_21?igshid=ZDdkNTZiNTM="><i
                                class="fa-brands fa-instagram"></i></a></div>
                    <div style="height: 37px;" class="col-1"><a class="nav-link p-1" target="_blank"
                            href="https://www.facebook.com/ravi.rahul.336"><i class="fa-brands fa-facebook"></i></a>
                    </div>
                </div>
                <div class="row angledown justify-content-center">
                    <div class="col-1 p-3 text-center">
                        <a href="#dummy" id="button" class="ui-state-default ui-corner-all">
                            <i class="fa-solid fa-angles-down"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>