<!-- <div style="width: 100%; height: 300px;">
<canvas #bg3d class="bg3d"></canvas>
</div> -->

<!-- {{scrollProgress}} -->
<section class="scroll-scene">
  <div class="cylinder-wrapper" #cylinderWrapper>
    <div class="panel panel1">
      <video id="vid-size" class="container-fluid" autoplay loop muted playsinline>
        <source class="p-4" src="assets/Premedia.mp4" type="video/mp4">
      </video>
    </div>
    <div class="panel panel2">
      <video id="vid-size" class="container-fluid" autoplay loop muted playsinline>
        <source class="p-4" src="assets/Premedia.mp4" type="video/mp4">
      </video>
    </div>
    <div class="panel panel3"> 
      <video id="vid-size" class="container-fluid" autoplay loop muted playsinline>
        <source class="p-4" src="assets/Premedia.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</section>
<section class="next-section"></section>
<!-- 
<section class="next-section">
  <h2>Next Content</h2>
  <p>Scroll animation completed</p>
</section> -->