<div id="bg" class="row container-fluid">
    <div id="dummy"></div>
    <div class="col margin">
        <div id="intro">
            <div class="row row-cols-1 row-cols-md-2 align-items-center py-3 px-4">

                <div id="intro" class="col  text-center">
                    <img class="img-fluid" src="assets/bg2.jpg" alt="">
                </div>

                <div class="col-7 order-md-first px-3 py-3">
                    <h3>RAVI RAHUL A</h3>
                    <p>FRONT-END DEVELOPER</p>

                    <h1>Hey there!
                        <br> I’m a Dynamic web developer passionate about creating unique and visually stunning websites
                        that
                        engage and inspire users.
                    </h1>
                </div>
            </div>
        </div>



        <!-- skills -->
        <div class="row py-5 px-4">
            <div id="about_tag" class="col">
                <h3>My Toolbox & Things I Can Do</h3>
                <p>The skills, tools and technologies I use to bring your products to life:</p>
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 p-5 g-5 text-center">
                    <div class="col">
                        <img class="imgstd" src="assets/html icon.png" alt="">
                        <p>HTML</p>
                    </div>

                    <div class="col">
                        <img class="imgstd" src="assets/css icon.png" alt="">
                        <p>CSS</p>
                    </div>

                    <div class="col">
                        <img class="imgstd" src="assets/js icon.png" alt="">
                        <p>JAVA SCRIPT</p>
                    </div>

                    <div class="col">
                        <img class="imgstd" src="assets/vs code icon.png" alt="">
                        <p>VS-CODE</p>
                    </div>

                    <div class="col">
                        <img class="imgstd" src="assets/bootstrap icon.png" alt="">
                        <p>BOOTSTRAP</p>
                    </div>

                    <div class="col">
                        <img class="imgstd" src="assets/angular icon.png" alt="">
                        <p>ANGULAR</p>
                    </div>

                    <div class="col">
                        <img class="imgstd" src="assets/node_icon.svg" alt="">
                        <p>NODE JS</p>
                    </div>

                    <div class="col">
                        <img class="imgstd" src="assets/github icon.png" alt="">
                        <p>GIT-HUB</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col px-5">
                        <h3>Work Experience</h3>
                        <p class="mb-0"><span style="font-weight: 600;">Software Developer</span> - ANGULAR
                            Focused</p>
                        <p>Company: <span style="font-weight: 600;">VMG DIGITAL</span></p>
                        <h4>Currently working on:</h4>
                        <p>Improving my skills in, and
                            <br> As a Junior Software Developer at VMG Digital in Chennai, I am currently specializing
                            in Angular development for a Workflow Tool. I am developing advanced features, including
                            filters and pagination, to enhance user navigation and overall application functionality. I
                            am also implementing interactive data visualizations using ng2-charts, Chart.js, and RxJS,
                            enabling users to interpret complex datasets easily.
                            <br>
                            <br>
                            I am creating reusable components that ensure consistency across the application,
                            significantly reducing development time and simplifying maintenance. My focus on user
                            experience drives me to optimize performance continuously.
                            <br>
                            <br>
                            In my role, I am actively participating in sprint planning meetings, aligning our
                            development efforts with team objectives to foster collaboration. I am leading task planning
                            and timeline management, enhancing workflow organization throughout the software development
                            lifecycle (SDLC) for timely project delivery.
                            <br>
                            <br>
                            To support my development work, I am utilizing tools like Chrome DevTools for debugging,
                            effectively identifying and resolving JavaScript, HTML, and CSS issues. My hands-on
                            experience with Agile methodologies allows me to contribute to iterative development
                            processes, emphasizing continuous improvement and innovation. Through this position, I am
                            strengthening my front-end development skills and enhancing my problem-solving abilities.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- projects -->
        <div id="project" class="row  px-4 py-4">
            <div class="col">
                <h3>Recommendations</h3>


                <div class="project_gallery">
                    <div class="gallery_img"
                        style="--x:-170%; --y:-97%; --angle:-40deg; transform: translate(var(--x), var(--y)) rotate(var(--angle));">
                        <!-- <div class="gallery_img" style="transform: translate(-150%, -66%) rotate(-40deg);"> -->
                        <img class="img-fluid" src="assets/sp_recomendation.png" alt="">
                    </div>


                    <!-- <div class="gallery_img" style="transform: translate(-77%, -31%) rotate(20deg);"> -->
                    <div class="gallery_img"
                        style="--x:-82%; --y:63%; --angle:-20deg; transform: translate(var(--x), var(--y)) rotate(var(--angle));">
                        <img class="img-fluid" src="assets/selva_recomendation.png" alt="">
                    </div>





                    <!-- <div class="gallery_img" style="transform: translate(-200%, -24%) rotate(22deg);"> -->
                    <!-- <div class="gallery_img"
                        style="--x:-210%; --y:-11%; --angle:7deg; transform: translate(var(--x), var(--y)) rotate(var(--angle));">
                        <img class="img-fluid" src="assets/1719903836210.jpg" alt="">
                    </div> -->
                    <!-- <div class="gallery_img" style="transform: translate(33%, -65%) rotate(-30deg);"> -->
                    <!-- <div class="gallery_img"
                        style="--x:-25%; --y:-80%; --angle:-7deg; transform: translate(var(--x), var(--y)) rotate(var(--angle));">
                        <img class="img-fluid" src="assets/IMG_1971.jpg" alt="">
                    </div> -->



                    <!-- <div class="gallery_img" style="transform: translate(72%, -23%) rotate(10deg);"> -->
                    <div class="gallery_img"
                        style="--x:65%; --y:-73%; --angle:10deg; transform: translate(var(--x), var(--y)) rotate(var(--angle));">
                        <img class="img-fluid" src="assets/karthik_reccomendation.png" alt="">
                    </div>
 
 
 
 
                    <!-- <div class="gallery_img" style="transform: translate(0%, -42%) rotate(45deg);"> -->
                    <!-- <div class="gallery_img"
                        style="--x:69%; --y:-6%; --angle:-45deg; transform: translate(var(--x), var(--y)) rotate(var(--angle));">
                        <img class="img-fluid" src="assets/bg7.jpg" alt="">
                    </div> -->

                </div>


                <h3>Recommendations</h3>
                <!-- <p>Some of the porject done successfull.</p> -->

                <app-graphic-background></app-graphic-background>



                <div class="project "> <!--for background image-->


                    <!-- project-1 -->
                    <div class="position-relative">
                        <div class="row p-5">
                            <div class="col p-4">
                                <img class="img-fluid" src="assets/project-1.png" alt="">
                            </div>
                        </div>

                        <div class="position-absolute container-fluid top-0 start-0 p-4">
                            <div class="row align-items-center">
                                <div class="col py-2">
                                    <div class="row">
                                        <div class="col">
                                            <h3>QUIZ GAME</h3>
                                            <!-- <p></p> -->
                                            <ul>
                                                <li>Setted an Angular project with necessary components, services, and
                                                    modules.</li>

                                                <li>Created a service to store the quiz questions and their
                                                    corresponding choices, correct answers, and any additional
                                                    information as Json data.</li>

                                                <li>Design the user interface to display the quiz questions and choices
                                                    from services. Allow the user to select one choice from the options
                                                    for each question.</li>

                                                <li>Implemented the logic to evaluate the user's answers and calculate
                                                    the final score. Compare the selected choices with the correct
                                                    answers and provide feedback accordingly.</li>

                                            </ul>
                                        </div>
                                        <div class="row">
                                            <div class="col p-2">
                                                <video id="vid-size" class="container-fluid" controls>
                                                    <source class="p-4" src="assets/project-1.mp4" type="video/mp4">
                                                </video>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col py-3">
                                    <h4>Tools</h4>
                                    <br>
                                    <div class="row container-fluid text-center">
                                        <div class="col">
                                            <img class="imgstd" src="assets/angular icon.png" alt="">
                                            <p>ANGULAR</p>
                                        </div>

                                        <div class="col">
                                            <img class="imgstd" src="assets/html icon.png" alt="">
                                            <p>HTML</p>
                                        </div>

                                        <div class="col">
                                            <img class="imgstd" src="assets/css icon.png" alt="">
                                            <p>CSS</p>
                                        </div>

                                        <div class="col">
                                            <img class="imgstd img-fluid" src="assets/js icon.png" alt="">
                                            <p>JAVA SCRIPT</p>
                                        </div>

                                        <div class="col">
                                            <img class="imgstd" src="assets/bootstrap icon.png" alt="">
                                            <p>BOOTSTRAP</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>



                    <!-- porject-2 -->
                    <div class="position-relative">

                        <div class="row p-5">
                            <div class="col p-4">
                                <img class="img-fluid" src="assets/project-2.png" alt="">
                            </div>
                        </div>

                        <div class="position-absolute container-fluid top-0 start-0 p-4">
                            <div class="row align-items-center">
                                <div class="col py-2">

                                    <div class="row">
                                        <div class="col">
                                            <h3>RESPONSIVE-SITE with ANGULAR FRAME WORK</h3>
                                            <ul>
                                                <li>Design a user interface for key pages: Home, About, Services and
                                                    Contact.
                                                    <ul>
                                                        <li>Home Page: Displays a carousel of popular currency pairs and
                                                            promotional content.
                                                        <li>About Page: Provides information about the site, its
                                                            mission, and services.
                                                        </li>
                                                        <li>Contact Page: Includes a contact form for inquiries and
                                                            company contact information.
                                                        </li>
                                                        <li>Services Page: Details the forex services offered, including
                                                            exchange rate insights, currency conversion tools, and other
                                                            financial resources.
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li>Set up routes for each main page with Angular's router module.
                                                    Use Bootstrap and custom CSS for responsive design and visual
                                                    appeal.</li>

                                                <li>Applied CSS animations for smooth transitions and enhanced user
                                                    experience.
                                                    Ensure data handling with API integration and responsive data
                                                    updating.</li>

                                                <li>Created data services using Angular's HttpClient and RxJS for
                                                    managing asynchronous data.
                                                    Optimize the site for various devices using Bootstrap’s grid system
                                                    and media queries.</li>

                                                <li>Implement carousels and sliders for visual emphasis on featured
                                                    content.</li>
                                            </ul>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col p-2">
                                            <video id="vid-size" class="container-fluid" controls>
                                                <source class="p-4" src="assets/project-2 Responsive site.mp4"
                                                    type="video/mp4">
                                            </video>
                                        </div>
                                    </div>
                                </div>

                                <div class="col py-3">
                                    <h4>Tools</h4>
                                    <br>
                                    <div class="row container-fluid text-center">
                                        <div class="col">
                                            <img class="imgstd" src="assets/angular icon.png" alt="">
                                            <p>ANGULAR</p>
                                        </div>

                                        <div class="col">
                                            <img class="imgstd" src="assets/html icon.png" alt="">
                                            <p>HTML</p>
                                        </div>

                                        <div class="col">
                                            <img class="imgstd" src="assets/css icon.png" alt="">
                                            <p>CSS</p>
                                        </div>

                                        <div class="col">
                                            <img class="imgstd" src="assets/bootstrap icon.png" alt="">
                                            <p>BOOTSTRAP</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- porject-3 -->
                    <div class="position-relative">

                        <div class="row p-5">
                            <div class="col p-4">
                                <img class="img-fluid" src="assets/project-3.png" alt="">
                            </div>
                        </div>

                        <div class="position-absolute container-fluid top-0 start-0 p-4">
                            <div class="row align-items-center">
                                <div class="col py-2">
                                    <div class="row">
                                        <div class="col">

                                            <h3>JAVASCRIPT - Registration & Login Validation</h3>
                                            <li> This project deals with registration and login of a account includes
                                                input validation, login verification and additional to this Captcha and
                                                OTP validation is included.</li>

                                            <li> Implemented a registration form that allows users to create new
                                                accounts. Validate the registration form by ensuring that required
                                                fields are filled as per required format.</li>

                                            <li> Obtained data is stored at the Local Storage, and retrieved during
                                                login validation.</li>

                                            <li> Validated the login form and result output by checking if the username
                                                and password fields are filled out correctly.</li>


                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col p-2">
                                            <video id="vid-size" class="container-fluid" controls>
                                                <source class="p-4" src="assets/project-3 color.mp4" type="video/mp4">
                                            </video>
                                        </div>
                                    </div>
                                </div>

                                <div class="col py-3">
                                    <h4>Tools</h4>
                                    <br>
                                    <div class="row container-fluid text-center">
                                        <div class="col">
                                            <img class="imgstd" src="assets/html icon.png" alt="">
                                            <p>HTML</p>
                                        </div>

                                        <div class="col">
                                            <img class="imgstd" src="assets/css icon.png" alt="">
                                            <p>CSS</p>
                                        </div>

                                        <div class="col">
                                            <img class="imgstd img-fluid" src="assets/js icon.png" alt="">
                                            <p>JAVA SCRIPT</p>
                                        </div>

                                        <div class="col">
                                            <img class="imgstd" src="assets/bootstrap icon.png" alt="">
                                            <p>BOOTSTRAP</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>






        <!-- contact -->
        <div id="contact" class="row m-3 py-3 px-4">
            <div class="col">
                <h3>Want To Get In Touch</h3>

                <div class="row">
                    <div class="col">
                        <div class="linkedin-profile">
                            <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/ravi-rahul-a-14509226b"
                                data-format="inline" data-related="false"></script>
                        </div>

                    </div>
                </div>

                <!-- form -->
                <div class="row">
                    <div class="col">
                        <p>Drop Me a line</p>

                        <form action="">
                            <div class="row  g-5 p-5">
                                <div class="col">
                                    <label for="name">NAME</label><br><br>
                                    <input type="text" name="name" required placeholder="Enter Your Name">
                                </div>

                                <div class="col">
                                    <label for="email">EMAIL ADDRESS</label><br><br>
                                    <input type="email" name="email" required placeholder="Enter Your Email">
                                </div>
                            </div>

                            <div class="row px-5 py-3">
                                <div class="col">
                                    <label for="label">MESSAGE</label><br><br>
                                    <textarea class="container-fluid" name="message" rows="8" cols="80" name="message"
                                        placeholder="Enter your Message"></textarea>
                                </div>
                            </div>
                            <div class="row px-5 pb-5">
                                <div class="col">
                                    <button type="submit" class="btn btn-dark px-4">SUBMIT</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>